.section {
  width: 200px;
  height: 100px;
}
.section-blue {
background-color: blue;
  /* Sets font color */
  color: orange;
}
.container {
background-color: black;
color: white;
}
#section-1 {
background-color: purple;
  /* Sets font color */
  color: yellow;
}
#section-6 {
color: yellow;
}