/* Set the font for all elements */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* Set background to light yellow for all body */
body {
  background-color: lemonchiffon;
}

/* Sets attributes for both header and footer */

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

/* Sets width and background color of figure element */

figure {
  width: 200px;
  background-color: #f0eredad6;
}

/* Sets elements with class .highlighted-text to bold */
.highlighted-text {
  font-weight: bolder;
}

/* Sets background color with ID #contact-section to light yellow */
#contact-section {
  background-color: #f0ead6;
}
